<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">Sumanth</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<section style="padding-top:120px;">
    <h2 class="title">About Me</h2>

    <div class="about">
        <p>
            I am H Sumanth Bhat, an Engineering student passionate
            about Artificial Intelligence, Robotics, Embedded Systems,
            Python Programming and Innovation.
        </p>

        <br>

        <p>
            Currently working on Auto Limit AI and various robotics
            projects involving automation and computer vision.
        </p>
    </div>
</section>

</body>
</html>