<!DOCTYPE html>
<html>
<head>
    <title>Skills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">Sumanth</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<section style="padding-top:120px;">
    <h2 class="title">Skills</h2>

    <div class="skills-container">

        <div class="skill">Python</div>
        <div class="skill">C Programming</div>
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">Flask</div>
        <div class="skill">Arduino</div>
        <div class="skill">Raspberry Pi</div>
        <div class="skill">Machine Learning</div>

    </div>
</section>

</body>
</html>